<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit your chat</title>
</head>
<body>
    <p>edit your chat:<%=chat._id%></p>
    <p>this chat was send from <b><%= chat.from %></b> to <b><%= chat.to %></p></b>
    <form method="post" action="/chats/<%=chat._id%>?_method=put">
        <textarea name="msg" rows="5" column="10"><%=chat.message%></textarea>
        <button>edtit</button>
    </form>
</body>
</html>